@import "../../index.scss";

.reset-password__over {
  outline: 0rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  // background-image: url(../../assets/img/authBackground.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.reset-password__wrapper {
  position: absolute;
  top: 4.8rem;
  width: 100%;
  max-width: 60rem;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow:
    rgb(0 0 0 / 20%) 0px 11px 15px -7px,
    rgb(0 0 0 / 14%) 0px 24px 38px 3px,
    rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  margin: 3.2rem;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: calc(100% - 6.4rem);
  padding: 1.6rem;

  @include responsive(xs) {
    max-width: 90%;
  }
}

.reset-password__title {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.6;
  padding: 1.6rem 2.4rem;
  flex: 0 0 auto;
}

.reset-password__form {
  max-width: 70%;
  min-width: 70%;

  @include responsive(xs) {
    max-width: 95%;
    min-width: 95%;
  }

  @include responsive(sm) {
    max-width: 75%;
    min-width: 75%;
  }
}

.reset-password-form-button__submit {
  width: 100%;
  background: $primaryColor;
  color: $whiteColor;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.8rem;
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $primaryColor !important;
    opacity: 0.8;
  }
}

.reset-password-form-button__cancel {
  width: 100%;
  background: $cancelColor;
  color: #4b4f56;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.8rem;
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $cancelColor !important;
    opacity: 0.8;
  }
}
