// fonts embedded
@font-face {
  font-family: "SVNPoppins";
  src: url("../assets/fonts/SVN-Poppins.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SVNPoppins";
  src: url("../assets/fonts/SVN-PoppinsBold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "SVNPoppins";
  src: url("../assets/fonts/SVN-PoppinsMedium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "SVNPoppins";
  src: url("../assets/fonts/SVN-PoppinsSemiBold.woff2") format("woff2");
  font-weight: 600;
}
