// COLOR
$primaryColor: #009d9d;
$blackColor: #000000;
$whiteColor: #ffffff;
$textColor: #292929;

// FONT
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
